<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>962987794202-o2rngtrl4iikh33al8g8cirrl7q9f71c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.962987794202-o2rngtrl4iikh33al8g8cirrl7q9f71c</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>962987794202-6903nqikiu0se7gadonbvb68k62n155p.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAOJ6Rjt7svzpJpxKQXvEFJ7dsvAfpj5Lk</string>
	<key>GCM_SENDER_ID</key>
	<string>962987794202</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.trueproofflutter</string>
	<key>PROJECT_ID</key>
	<string>trueproof-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>trueproof-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:962987794202:ios:45755fdd53700756ff16a3</string>
</dict>
</plist>